.productdisplay{
    display: flex;
    margin: 0rem 9.625rem;
    /* margin-right: 20rem; */

}
.productdisplay-left{
    display: flex;
    gap: 2rem;

}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img{
    height: 7.7rem;

}
.productdisplay-main-img{
    width: 28.625rem;
    height: 33.75rem;
}

.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 25px;
    font-weight: 600;
}
.productdisplay-right-stars{
    display: flex;align-items: center;
    margin-top: 15px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display: flex;
    margin: 15px 0px;
    gap: 30px;
    font-size: 22px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 20px;
    color: #656565;
    font-size: 17px;
    font-weight: 600;
}
.productdisplay-right-sizes{
    display: flex;
    margin: 20px 0px;
    gap: 20px;
}
.productdisplay-right-sizes div{
    padding: 5px 13px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}
.productdisplay-right button{
    padding: 13px 20px;
    width: 170px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin-bottom: 25px;
    border: none;
    outline: none;
    cursor: pointer;
}
.productdisplay-right-category{
    margin-top: 10px;

}
.productdisplay-right-category span{
    font-weight: 600;
}